<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Poll</title>
</head>
<body>
<div id="createpoll"> {% csrf_token %}
<span>Enter Poll Title</span><br>
<input type="text" id="ques_title"><br>
<span>Enter Poll Options</span><br>
1. <input id="ques_options"><br><br>
</div>
<br>
<br>
<button type="button" onclick="createPoll.init.addOption()">Add more option</button>
<button type="button" onclick="createPoll.init.processForm()">Submit</button>
<br>
<br>
<span id="alert_box"></span>
</body>
<script type="text/javascript" src="/static/binding.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
</html>