{% if latest_question_list %}
    <ul>
    {% for poll in latest_question_list %}
		<li><a href="/polls/votepoll/{{ poll.poll_id }}">{{ poll.question }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
<a href="/polls/createpoll/">Create New Poll</a>
