<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ question }}</title>
</head>
<body>
<a href="/polls/">View All Polls</a>
<br>
<br>
<div>{{ question }}</div>
<form action="/polls/votepoll/{{choices.0.poll_id}}/save" method="post">
{% csrf_token %}
{% for choice in choices %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.poll_id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
<input type="submit" value="Vote" />
</form>
</body>
</html>